@use "../variable";

.code {
  color: white;

  pre {
    line-height: 1.5;
    font-family: "Roboto Mono", monospace;
  }
}

.code_comment {
  color: variable.$secondary;
}

.code_key-word {
  color: variable.$primary;
}

.code_var {
  color: variable.$accent;
}

.code_string {
  color: variable.$menu;
}
