@use "../variable";

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1rem;
  font-size: 0.875rem;
}
code.hljs {
  padding: 3px 5px;
}
.hljs {
  color: #fff;
  background: variable.$bg-black;
}
.hljs ::selection,
.hljs::selection {
  background-color: #4d4f68;
  color: #e9e9f4;
}
.hljs-comment {
  color: variable.$secondary;
}
.hljs-tag {
  color: #5565e8;
}
.hljs-operator,
.hljs-punctuation,
.hljs-subst {
  color: variable.$secondary;
}
.hljs-operator {
  opacity: 0.7;
}
.hljs-bullet,
.hljs-deletion,
.hljs-name,
.hljs-selector-tag,
.hljs-template-variable,
.hljs-variable {
  color: #43d9ad;
}
.hljs-attr,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-symbol,
.hljs-variable.constant_ {
  color: #607b96;
}
.hljs-class .hljs-title,
.hljs-title,
.hljs-title.class_ {
  color: #43d9ad;
}
.hljs-strong {
  font-weight: 700;
  color: #43d9ad;
}
.hljs-addition,
.hljs-code,
.hljs-string,
.hljs-title.class_.inherited__ {
  color: variable.$menu;
}
.hljs-built_in,
.hljs-doctag,
.hljs-keyword.hljs-atrule,
.hljs-quote,
.hljs-regexp {
  color: #a1efe4;
}
.hljs-attribute,
.hljs-function .hljs-title,
.hljs-section,
.hljs-title.function_,
.ruby .hljs-property {
  color: #62d6e8;
}
.diff .hljs-meta,
.hljs-keyword,
.hljs-template-tag,
.hljs-type {
  color: variable.$marker;
}
.hljs-emphasis {
  color: variable.$marker;
  font-style: italic;
}
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
  color: #00f769;
}
.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
  font-weight: 700;
}
