$bg: rgb(30 41 59);
$bg-black: rgb(15 23 42);
$border: rgb(71 85 105);
$menu: rgb(234 179 8);
$marker: rgb(248 113 113);

$primary: rgb(125 211 252);
$secondary: rgb(148 163 184);
$accent: rgb(34 197 94);
