// Variable import
@use "variable";

// Components import
@use "components/nav_top";
@use "components/nav_footer";
@use "components/github_link";
@use "components/code";
@use "components/project";
@use "components/example";
@use "components/timeline_item";
@use "components/input_checkbox";

// Pages import
@use "pages/index_page";
@use "pages/about_page";
@use "pages/skills_page";
@use "pages/project_page";
@use "pages/contact_page";

// Fonts style import
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap");

// Normalize import
@import "normalize.css";

* {
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: variable.$bg;
  color: white;
}

.app {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.content {
  height: calc(100% - 84px);
}

a {
  text-decoration: none;
}

h2,
h3 {
  font-weight: 300;
}

.container {
  width: 1536px;
  padding: 0 1rem;
  margin: 0 auto;
}

.scrolling {
  position: relative;
}

.ps__thumb-y,
.ps__thumb-x {
  background-color: variable.$border;
}

.zoom-enter-active,
.zoom-leave-active,
.zoom-enter-active,
.zoom-leave-active {
  transition: all 0.5s;
}
.zoom-enter-from {
  position: fixed;
  opacity: 0;
  transform: scale(1.5);
  filter: blur(50px);
}
.zoom-leave-to {
  position: fixed;
  opacity: 0;
  transform: scale(0.5);
  filter: blur(50px);
}
